OPENVPN_CONFIG=ch-zur.prod.surfshark.com_udp.ovpn # nome del file `.ovpn` di Surfshark da far caricare a Gluetun.
OPENVPN_PROVIDER=SURFSHARK # Lasciare cosi.
OPENVPN_USERNAME=OPENVPN_USERNAME
OPENVPN_PASSWORD=OPENVPN_PASSWORD
QBITTORENT_FILES_DIRECTORY= # cartella dell'host dove salvare i download.
TZ=Europe/Rome
